@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Kanit:ital,wght@0,300;0,500;0,600;1,400;1,500&display=swap");

#home-div {
  width: 80%;
}

#welcome-text {
  margin: 30% auto;
  width: fit-content;
  text-align: center;
}

#logo-front {
  width: 150px;
  margin-bottom: 20px;
}

#sosspot {
  font-size: 50px;
  color: #fff;
}

.squiggle-write {
  font-family: "Courgette", cursive;
}

.connect-p {
  text-align: center;
}
