@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Kanit:ital,wght@0,300;0,500;0,600;1,400;1,500&display=swap");

#home-container {
  display: flex;
  flex-direction: row;
}

#home-div {
  width: 80%;
}

#welcome-text {
  margin: 30% auto;
  width: fit-content;
}

.squiggle-write {
  font-family: "Courgette", cursive;
}

.connect-p {
  text-align: center;
}
